{% extends 'base.html' %}
{% block title %}Tableau de bord{% endblock %}
{% block content %}

<h2>Solde disponible</h2>
<p>{{ user.virtualaccount.balance }} FCFA</p>

<h2>Statut du compte</h2>
{% if user.status == 'active' %}
    <p>Actif !! vous pouvez effectuer des opérations.</p>
    
    <h2>Opérations rapides</h2>
    <ul>
        <li><a href="{% url 'deposit' %}">Dépôt</a></li>
        <li><a href="{% url 'transfer' %}">Transfert</a></li>
        <li><a href="{% url 'withdraw' %}">Retrait</a></li>
    </ul>

{% elif user.status == 'suspended' %}
    <p style="color: red;">Votre Compte à été Suspendu  aucune opération (dépôt, transfert, retrait) n'est autorisée veuillez contactez l'admin pour eactiver votre compte .</p>

{% else %}
    <p style="color: orange;">En attente d'activation veuillez vérifier votre e-mail pour le code OTP.</p>
{% endif %}

<h2>Historique des transactions</h2>
{% if transactions %}
    <table>
        <thead>
            <tr>
                <th>Référence</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for tx in transactions %}
            <tr>
                <td>{{ tx.reference|slice:":8" }}...</td>
                <td>{{ tx.get_type_display }}</td>
                <td>
                    {% if tx.type == 'fee' %}
                        —
                    {% else %}
                        {{ tx.net_amount }} FCFA
                    {% endif %}
                </td>
                <td>{{ tx.created_at|date:"d M Y H:i" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucune transaction pour le moment.</p>
{% endif %}


{% endblock %}