<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}eMoney{% endblock %}</title>
</head>
<body>

    <nav>
        <div>
            <span>eMoney</span>
            <div>
                {% if user.is_authenticated %}
                    Bonjour, <strong>{{ user.username }}</strong>
                    <a href="{% url 'logout' %}">Déconnexion</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div>

        {% if user.is_authenticated and user.status != 'suspended' %}
        <aside>
            <h2>Menu</h2>
            <nav>
                <a href="{% url 'dashboard' %}">Tableau de bord</a>
                <a href="{% url 'deposit' %}">Dépôt</a>
                <a href="{% url 'transfer' %}">Transfert</a>
                <a href="{% url 'withdraw' %}">Retrait</a>
            </nav>
        </aside>
        {% endif %}

        <main>
            {% if messages %}
                {% for message in messages %}
                    <div>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </main>

    </div>

    <footer>
        <p>
            &copy; 2025 eMoney. Plateforme de transfert sécurisée. IFNTI Sokodé - Projet L3.
        </p>
    </footer>

</body>
</html>