{% extends 'base.html' %}
{% block title %}Dépôt{% endblock %}
{% block content %}
<div>
    <div>
        <i></i>
        <h1>Effectuer un dépôt</h1>
    </div>

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="amount" >Montant (FCFA)</label>
            <div class="relative">
                <input
                    type="number"
                    id="amount"
                    name="amount"
                    min="1"
                    step="1"
                    required
                    placeholder="Ex: 10000"
                >
                <div>
                    FCFA
                </div>
            </div>
            <p>Aucun frais appliqué sur les dépôts.</p>
        </div>

        <div>
            <button type="submit">
                <i></i> Déposer
            </button>
            <a href="{% url 'dashboard' %}">
                Annuler
            </a>

            <a href="{% url 'admin_metrics' %}" style="color: #3b82f6; text-decoration: none;">Retour à la liste des utilisateurs</a>

        </div>
    </form>
</div>
{% endblock %}